<div class='container'>
  <div class="row">
    <div class="col-md-6">
     <div>
        <input type="text" class="form-control input" placeholder="Repos" ng-model="repoSearch"/>
     </div>
      <ul class="list-group" >
        <h5>{{repos[0].owner}}</h5>
        <li class="list-group-item" ng-repeat="repo in repos | filter: repoSearch track by $index">{{repo.name}}
          <a href="" class="icon" ng-click="getStats(repo)"><i class="glyphicon glyphicon-circle-arrow-right"></i></a>
        </li>
        </ul>
    </div>
</div>