<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
    <form ng-submit= "getRepos()">
      <div class="input-group">
      <input type="text" class="form-control" placeholder="What is your github username..." ng-model="username">
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit">Search</button>
      </span>
    </div>
      </form>
      <div ng-show="error.isError" class="error">
        <h3>Ooooops, something went wrong :(</h3> 
        Error: "{{error.error.data.error}}", Status: {{error.error.status}}
      </div>
    </div>
  </div>
</div>