<div class="container" ng-cloak>
<!-- user info -->
  <div class="row">
    <div class="col-md-8">
      <h3>{{repo.info.repo_name}}</h3>
      <hr>
      <div>
        <h4>Commits Per Week</h4>
      <hr>
      <nvd3 options="sparkline" data="commitData"></nvd3>
      <hr>
      <h5>Last committed at, <mydate>{{last_commit | date:'yyyy-MM-dd'}}</mydate></h5>
      </div>
      <hr>

      <div>
        <h4>Repo Popularity</h4>

      </div>
      <hr>

      <div>
        <!-- {{repo.contributors}} -->
        <h4>Top Contributors to {{repo.info.repo_name}}</h4>
        <nvd3 options="pie" data="contributors"></nvd3>
      </div>
    </div>
    <div class="col-md-4">
      <div>
        <img id="avatar" src="{{repo.info.avatar}}" class="rounded float-right">
        {{repo.info.owner}}
      </div>

      <hr>
      <div class="jumbotron horizontal-center" >
      <h3>Technologies</h3>
      <ul class="list-unstyled" ng-repeat="tech in technologies">
        {{tech}}
      </ul>
        
        
      </div>
        
    </div>
  </div>

</div>