#avatar{
	height:75px;
	width:75px;
}
ul li {
  list-style-type: none;
}

@media screen and (min-width: 768px)
.jumbotron {
	padding-top:10px

	}
@media screen and (min-width: 768px)
.container .jumbotron {
	padding-left:35px;
}
