

.error{
  color: red;
  text-align: center;

#avatar{
	height:75px;
	width:75px;
}
/*ul li {
  list-style-type: none;
}*/

@media screen and (min-width: 768px)
.jumbotron {
	padding-top:10px

	}
@media screen and (min-width: 768px)
.container .jumbotron {
	padding-left:35px;
}
.description{
  display: none;
  font-size: 13px;
  margin-top: 10px;
  padding: 5px;
}
.list-group-item:hover .description{
	display:block;
}
.list-group-item:hover{
	background:#f8f8f8;
}
/*.list-group-item:hover li{
	font-weight: bold;
}*/
[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}